@model course
@{
    ViewBag.Title = "ImportCourses";
}



@using (Html.BeginForm("ImportCourses", "Home", FormMethod.Post, new { id = "importcoursesForm", enctype = "multipart/form-data" }))
{
    <fieldset>
    </fieldset>
    <style>
        body {
            background: url(https://i.imgur.com/VtXEfl0.png);
            background-size: cover;
        }


        /**Rectangle 1 */



        .smulogo {
            position: absolute;
            width: 350px;
            height: 125px;
            left: 0px;
            top: 0px;
            background: url(https://i.imgur.com/4IpDWG0.png);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        #rect1 {
            position: absolute;
            width: 2240px;
            height: 125px;
            left: 350px;
            top: 0px;
            background: #151C55;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        #notice {
            background: #151C55;
            border: 1px solid #8A704C;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .evalConfirm -_body {
            margin: -70px 0 30px;
        }


        .evalConfirm ._body ._box {
            margin: auto;
            max-width: 80%;
            padding: 50px;
            background: white;
            border-radius: 3px;
            box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
            -moz-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
            -webkit-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
        }

        #linker {
            border: 1px solid #8A704C;
            background: #8A704C;
            color: #fff;
            padding: 20px;
            cursor: pointer;
            -webkit-border-radius: 4px;
        }

        #selectopts {
            z-index: 1;
            background: #151C55;
            margin-left: 500px;
            position: absolute;
            width: 195px;
            height: 35px;
            left: 1245px;
            top: 48px;
        }

        #dropdownMenuButton {
            background: #151C55;
        }

        #rect2 {
            position: center;
            width: 1050px;
            height: 768px;
            left: 244px;
            top: 194px;
            background: #DCBDA0;
            border: 1px solid #8A704C;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        }


        #hublogo {
            position: absolute;
            width: 807px;
            height: 65px;
            left: 394px;
            top: 40px;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 52px;
            color: #FFFFFF;
        }



        #instruct1 {
            position: absolute;
            width: 470px;
            height: 444px;
            left: 550px;
            top: 150px;
        }
    </style>


    <html>
    <head>
        <script src="C:\Users\Kaleb\source\repos\WebApplication3\WebApplication3\Scripts\jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="C:\Users\Kaleb\source\repos\WebApplication3\WebApplication3\Scripts\bootstrap.min.js"></script>
        <script src="C:\Users\Kaleb\source\repos\WebApplication3\WebApplication3\Scripts\bootstrap.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

        "
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-81J8R69BHH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-81J8R69BHH');
        </script>
        <title> Professor Homepage </title>





    </head>

    <body>

        <script>



        </script>
        <div class="dropdown" id="selectopts">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login Options
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="@Url.Action("LogOutProf", "Home")">Logout</a>
            </div>
        </div>

        <div class="evalConfirm">
            <div class="navbar-header">
                <div class="rect" id="rect1"> </div>
                <div class="smulogo"> </div>
                <h2 id="hublogo">  Import Courses </h2>
            </div>
        </div>


        <br />
        <br />
        <br />
        <br />
        <section class="h-100 gradient-form ">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-10">
                        <div class="card rounded-3 text-black">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="rect" id="rect2">
                                        <div class="card-body p-md-5 mx-md-4">
                                            <form enctype="multipart/form-data" >
                                                @Html.AntiForgeryToken()
                                                <div class="form-outline mb-4">

                                                    <div class="container" style=" font-style: normal; font-weight: 500; font-size: 18px; line-height: 36px;">



                                                        <label id="thing1" style=""> Add a Course Name: </label>
                                                        <br />

                                                        @Html.TextBoxFor(a => a.CourseTitle, new { @type = "text", @class = "form-control", @id = "course1", @ariadescribedby = "courseMsg", @name = "course1", @placeholder = "Please enter a course title.", @style = "text-align:center; position: absolute; left: 50%; transform: translateX(-50%);" })
                                                        <br />
                                                        @Html.ValidationMessageFor(a => a.CourseTitle)
                                                        @Html.Hidden("testvar1", "", new { @id = "testvar1", @name = "testvar1" })
                                                        <label class="errmsg" id="error1" style="padding-left: 20px; color:red;"></label>
                                                        <br />
                                                        <br />


                                                        <label id="thing2"> Add a Course Code </label>
                                                        <br />

                                                        @Html.TextBoxFor(a => a.CourseCode, new { @type = "text", @class = "form-control", @id = "course2", @ariadescribedby = "coursecodeMsg", @name = "course2", @placeholder = "Please enter a course code.", @style = "text-align:center; position: absolute; left: 50%; transform: translateX(-50%);" })
                                                        <br />
                                                        @Html.ValidationMessageFor(a => a.CourseCode)
                                                        @Html.Hidden("testvar2", "", new { @id = "testvar2", @name = "testvar2" })
                                                        <label class="errmsg" id="error2" style="padding-left: 20px; color:red;"></label>

                                                        <!-- Html year selector via range: validation implemented so it only allows selections two years in advance-->


                                                        <br />
                                                        <br />
                                                        <a href="~/Uploads/samplecsv.csv"><img src="https://i.imgur.com/xS5uWF0.png" id="instruct1" />  </a>



                                                        <label for="courseYear"> Select Course Year </label>
                                                        <input name="courseYear" required type="range" id="courseYear" oninput="document.getElementById('l1').innerHTML = this.value" />
                                                        <!-- year auto update-->
                                                        <label id="l1" style="padding-left:20px"> </label>
                                                        <label class="errmsg" id="error3" style="padding-left: 20px; color:red;"></label>

                                                        <br />


                                                        <label for="cTerm" id="thing4"> Select Course Term </label>
                                                        <br />

                                                        <select id="cTerm" required>
                                                            <option> Select a course term. </option>
                                                            <option value="1"> Term 1  </option>
                                                            <option value="2"> Term 2  </option>
                                                            <option value="3A"> Term 3A  </option>
                                                            <option value="3B"> Term 3B  </option>
                                                        </select>
                                                        <input type="hidden" class="hiddenthing" id="hiddenInfo" name="hiddenInfo" />
                                                        <label class="errmsg" id="error4" style="padding-left: 20px; color:red;"></label>

                                                        <br />
                                                        <br />


                                                        <label for="file"> Import Student List from CSV  </label>


                                                        <input type="file" required id="file" name="file" accept=".csv" />
                                                        <!-- potential "All" issue? -->
                                                        <br />
                                                        <input type="submit" name="submit" id="createsubmit" value="Create New Course" style="position: center; width: 262px; height: 37px; left: 308px; top: 715px; font-style: normal; font-weight: 700; font-size: 20px; line-height: 29px; /* identical to box height */ text-align: center; background: #151C55; color: antiquewhite;" />
                                                        @ViewBag.Message

                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>

                </div>


            </div>






        </section>

        <script>




            //automatically set course year on load so as to futureproof application
            $(window).on('load', function ()
            {
                        var currYear = new Date().getFullYear();
                var nextYear = new Date().getFullYear() + 1;
                var nextnextYear = new Date().getFullYear() + 2;
                        var inputgrabber = document.getElementById('courseYear');
                inputgrabber.setAttribute("min", currYear);
                inputgrabber.setAttribute("max", nextnextYear);
                        inputgrabber.setAttribute("value", currYear);



                        inputgrabber.setAttribute("step", 1);

                             document.getElementById('l1').innerHTML = inputgrabber.value;

            });

            function getOption() {
                selectElement = document.querySelector('#cTerm');
                hiddenthing = selectElement.value;
                document.querySelector('.hiddenthing').value = hiddenthing;
                alert("Course term selected. ");
                $("#cTerm").prop('disabled', true);
            };



            $(document).on('change', '#cTerm', function () {
                getOption();

                $("#cTerm").prop('disabled', true);
            });

            $("#importcoursesForm").on('submit', function (e) {
                selectElement = document.getElementById("course1"); //getting course title
                hiddenthing1 = selectElement.value;
                $('#testvar1').val(hiddenthing1);

                selectElement2 = document.getElementById("course2"); //getting course code
                hiddenthing2 = selectElement2.value;
                $('#testvar2').val(hiddenthing2);

                selectElement3 = document.getElementById("courseYear");

                if (selectElement != null)
                {
                    return true;
                }
                else
                {
                    document.getElementByID('error1').innerHTML = "Please assess your course name input.";
                    e.preventDefault();
                }


                if (selectElement2 != null)
                {
                    return true;
                }
                else
                {
                    document.getElementById('error2').innerHTML = "Please assess your coursecode input.";
                    e.preventDefault();

                }


                if (selectElement3 != null || 0)
                {
                    return true;
                }
                else
                {
                    document.getElementById('error3').innerHTML = "Please assess your course year input.";
                    e.preventDefault();

                }



                return false;
                alert("Errors are present in your course input submission.");



                




            });



        </script>

    </body>
</html>
}
